<div class="app-shell">
  <main class="auth">
    <section class="auth-card">
      <header class="auth-card__header">
        {{!-- <button class="theme-toggle" type="button" data-theme-toggle>
          Тема
        </button> --}}
        <h1 class="auth-card__title">Регистрация</h1>
        <p class="auth-card__subtitle"></p>
      </header>

      <form class="form" id="register-form">
        {{> input id="first_name" name="first_name" label="Имя" type="text" class="form__input"}}
        {{> input id="second_name" name="second_name" label="Фамилия" type="text" class="form__input"}}
        {{> input id="login" name="login" label="Логин" type="text" class="form__input"}}
        {{> input id="email" name="email" label="Email" type="email" class="form__input"}}
        {{> input id="password" name="password" label="Пароль" type="password" class="form__input"}}
        {{> input id="phone" name="phone" label="Телефон" type="tel" class="form__input"}}

        <div class="auth-card__footer">
          <button class="btn btn--primary btn--full" type="submit">
            Создать аккаунт
          </button>
          <span>
            Есть аккаунт?
            <a class="link" href="/login">Войдите</a>
          </span>
        </div>
      </form>
    </section>
  </main>
</div>
