<section class="profile-layout">
  <aside class="profile-sidebar">
    <a href="/profile" class="profile-sidebar__back" data-link-profile>←</a>
  </aside>

  <div class="profile-card">
    <h1 class="settings-card__title">Изменить пароль</h1>

    <form class="profile-form" id="profile-password-form">
      <div class="profile-form__row">
        <label for="oldPassword">Старый пароль</label>
        <input
          id="oldPassword"
          name="oldPassword"
          class="profile-form__input"
          type="password"
        />
      </div>

      <div class="profile-form__row">
        <label for="password">Новый пароль</label>
        <input
          id="password"
          name="password"
          class="profile-form__input"
          type="password"
        />
      </div>

      <div class="profile-form__row">
        <label for="password_repeat">Повторите новый пароль</label>
        <input
          id="password_repeat"
          name="password_repeat"
          class="profile-form__input"
          type="password"
        />
      </div>

      <div class="profile-form__actions">
        <button class="btn btn--primary" type="submit">
          Сохранить
        </button>
      </div>
    </form>
  </div>
</section>
