<section class="profile-layout">
  <aside class="profile-sidebar">
    <a href="/profile" class="profile-sidebar__back">←</a>
  </aside>

  <div class="profile-card">
    <h1 class="settings-card__title">Изменить данные</h1>
    <div class="profile-card__avatar-block">
      <div class="profile-avatar profile-avatar--button">
      </div>
      <div class="profile-card__name">
        {{display_name}}
      </div>
      <a href="/profile/avatar" class="profile-link">
        Поменять аватар
      </a>
    </div>

    <form class="profile-form" id="profile-edit-form">
      <div class="profile-form__row form__field">
        <label class="form__label" for="email">Почта</label>
        <input
          id="email"
          name="email"
          class="profile-form__input"
          type="email"
        />
        <p class="form__error"></p>
      </div>

      <div class="form__field profile-form__row">
        <label class="form__label" for="login">Логин</label>
        <input
          id="login"
          name="login"
          class="profile-form__input"
          type="text"
        />
        <p class="form__error"></p>
      </div>

      <div class="form__field profile-form__row">
        <label class="form__label" for="first_name">Имя</label>
        <input
          id="first_name"
          name="first_name"
          class="profile-form__input"
          type="text"
        />
        <p class="form__error"></p>
      </div>

      <div class="form__field profile-form__row">
        <label class="form__label" for="second_name">Фамилия</label>
        <input
          id="second_name"
          name="second_name"
          class="profile-form__input"
          type="text"
        />
        <p class="form__error"></p>
      </div>

      <div class="form__field profile-form__row">
        <label class="form__label" for="display_name">Имя в чате</label>
        <input
          id="display_name"
          name="display_name"
          class="profile-form__input"
          type="text"
        />
        <p class="form__error"></p>
      </div>

      <div class="form__field profile-form__row">
        <label class="form__label" for="phone">Телефон</label>
        <input
          id="phone"
          name="phone"
          class="profile-form__input"
          type="tel"
        />
        <p class="form__error"></p>
      </div>

      <div class="profile-form__actions">
        <button class="btn btn--primary" type="submit">
          Сохранить
        </button>
      </div>
    </form>
  </div>
</section>
