<section class="profile-layout">
  <aside class="profile-sidebar">
    <a href="/profile" class="profile-sidebar__back">←</a>
  </aside>

  <div class="profile-card">
    <h1 class="settings-card__title">Изменить аватар</h1>

    <div class="profile-card__avatar-block">
      <div class="profile-avatar profile-avatar--button">
        
      </div>
    </div>

    <form class="profile-form" id="profile-avatar-form">
      <div class="profile-form__row">
        <label for="avatar">Загрузите файл</label>
        <input
          id="avatar"
          name="avatar"
          class="profile-form__input"
          type="file"
          accept="image/*"
        />
      </div>

      <div class="profile-form__actions">
        <button class="btn btn--primary" type="submit">
          Поменять
        </button>
      </div>
    </form>
  </div>
</section>
