:root {
  --bg: #f5f5f9;
  --bg-elevated: #ffffff;
  --text: #111111;
  --muted: #777777;

  --primary: #3f2b96;
  --primary-soft: #e7e2ff;
  --primary-contrast: #ffffff;

  --border-subtle: rgba(0, 0, 0, 0.08);

  --danger: #e53935;
}
