<div class="modal">
  <div class="modal__content">
    <p>Выйти из аккаунта?</p>
    <button type="button" data-logout-confirm>Да, выйти</button>
    <button type="button" data-logout-cancel>Отмена</button>
  </div>
</div>
