<section class="chat-thread" aria-label="Лента сообщений">
  <div class="chat-thread__messages" id="chat-messages">
    <article class="message message--assistant">
      <div class="message__avatar message__avatar--user">
        <a href="/profile" class="message__avatar-link">Э</a>
      </div>
      <div class="message__content">
        <div class="message__meta">
          <span class="message__author">Эксперт</span>
          <span class="message__time">11:00</span>
        </div>
        <div class="message__bubble">
          <p class="chat-preview-message__text">
          Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то
          момент попросила Хассельблад адаптировать модель SWC для полётов на Луну…
          </p>
        </div>
      </div>
    </article>

    <article class="message message--assistant">
      <div class="message__avatar message__avatar--user">
        <a href="/profile" class="message__avatar-link">Э</a>
      </div>
      <div class="message__content">
        <div class="message__meta">
          <span class="message__author">Эксперт</span>
          <span class="message__time">11:01</span>
        </div>
        <div class="message__bubble message__bubble--image">
          <img
            src="/assets/image-cam.png"
            alt="Камера Hasselblad"
            class="message__image"
          />
          <p class="chat-preview-message__text">
            Всего было произведено 25 экземпляров этой модификации, одну из них недавно продали на
            аукционе за 45&nbsp;000&nbsp;евро.
          </p>
        </div>
      </div>
    </article>

    <article class="message message--user">
      <div class="message__avatar message__avatar--user">
        <a href="/profile" class="message__avatar-link">И</a>
      </div>
      <div class="message__content">
        <div class="message__meta">
          <span class="message__author">Вы</span>
          <span class="message__time">11:12</span>
        </div>
        <div class="message__bubble">
          <p class="chat-preview-message__text">
          Круто!
          </p>
        </div>
      </div>
    </article>
  </div>
</section>
