{{!-- Шаблон с версткой футера --}}
<nav class="app-footer__inner">
  <a href="/" class="app-footer__link">Лендинг</a>
  <a href="/register" class="app-footer__link">Регистрация</a>
  <a href="/login" class="app-footer__link">Вход</a>
  <a href="/chats" class="app-footer__link">Чаты</a>
  <a href="/profile" class="app-footer__link">Профиль</a>
  <a href="/error-404" class="app-footer__link">404</a>
  <a href="/error-5xx" class="app-footer__link">5xx</a>
</nav>
