<header class="app-header">
  <nav>
    <a href="/" data-link data-link-home>Главная</a>
    <a href="/settings" data-link data-link-profile>Профиль</a>
    <button type="button" data-logout data-link-logout>Выйти</button>
  </nav>
</header>

<main class="app-main">
  {{{body}}}
</main>
